@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
                    
<div class="top-container">
    <h1 style="padding-top: 50px;padding bottom:30px;text-align:center;">Welcome to Our Digital Archive</h1>
    <h3 style="text-align:center;">Submit your CV today</h3>
    <img class="top-image" src="~/images/46656980338.png" alt="img" width="200px" height="100px">
    <img class="bottom-image" src="~/images/pen_clipart.png" alt="img" width="250px" height="200px">
 </div>                      

 <div style="text-align:center;">               
 <a asp-page="SendCVForm" class="btn btn-lg btn-dark" style="margin-bottom:50px; margin-top:30px;">Drop Your CV Here!</a>
 </div>




   

    
