<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV</title>
    <link rel="stylesheet" href="~/css/StyleSheet2.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <h1 class="navbar-brand">CV Archive</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                     <ul class="navbar-nav me-auto">

                         <li class="nav-item">
                          <a class="nav-link active" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" asp-area="" asp-page="/CVBrowser">Browse CVs</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" asp-area="" asp-page="/SendCVForm">New CV</a>
                        </li>
                     </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="padding: 50px 0 20px;">
        <div class="container" style="text-align:center">
            &copy; 2022 - CV - Dana Harb - ID: 94672   <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>